{% extends 'base.html.twig' %}

{% block body %}

    <section>
        <div class="container mt-2">
            <h4><a href="{{ path('home') }}"><span>Acidarts ></span></a> Contact</h4>
            <h1>Contact</h1>
        </div>

        <div class="container mt-4">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}

            {% if not form.vars.valid %}
                <div class="alert alert-danger">
                    Erreur, veuillez vérifier les informations entrées dans le formulaire de contact, puis réessayez.
                </div>
            {% endif %}
        </div>

        <!-- CONTACT FORM -->
        <div class="container mt-4">
            <div class="row" id="contact_content">
                <div class="col-md-7">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    {{ form_row(form.name) }}
                    {{ form_row(form.lastname) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.subject) }}
                    {{ form_row(form.message) }}
                    <button id="button">{{ button|default('Envoyer') }}</button>
                    {{ form_end(form) }}
                </div>
                <div class="col-md-4">
                    <div class="contact-about">
                        <p class="contact-description">Feel free to contact me for more informations on my work or for any other inquiries.</p>
                        <p class="contact-description">N'hésitez pas à me contacter pour plus d'informations sur mon travail ou pour toutes autres demandes.</p>
                        <p class="social-title">SOCIAL NETWORK</p>

                        <a href="https://www.artstation.com/acidarts" target="_blank"><img src="{{ asset('images/contact/artstation.jpg') }}" class="img-social" alt="artstation"></a>
                        <a href="https://www.linkedin.com/in/jeanbaptiste-sottile-16726790/" target="_blank"><img src="{{ asset('images/contact/in.jpg') }}" class="img-social" alt="linkedin"></a>
                        <a href="https://vimeo.com/acidarts" target="_blank"><img src="{{ asset('images/contact/vimeo.jpg') }}" class="img-social" alt="vimeo"></a>
                        <a href="https://join.skype.com/invite/d7yAsg57DYqs" target="_blank"><img src="{{ asset('images/contact/skype.jpg') }}" class="img-social" alt="skype"></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
