{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        {% if not form.vars.valid %}
            <div class="alert alert-danger">
                Erreur, veuillez vérifier les informations entrées dans le formulaire de contact, puis réessayez.
            </div>
        {% endif %}
    </div>

    <section>
        <div class="container mt-2">
            <h4><a href="{{ path('home') }}"><span>Acidarts ></span></a> Contact</h4>
            <h1>Contact</h1>
        </div>

        <!-- CONTACT FORM -->

    {#<div class="container mt-4">
        <h2>Contact</h2>
        <div class="container mb-4 p-4">
            <div class="card-body">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button class="btn btn-primary">{{ button|default('Envoyer') }}</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>#}

{% endblock %}