{% extends 'base.html.twig' %}

{% block body %}
    <section>
        <div class="container mt-2" id="description_bar">
            <h4><a href="{{ path('home') }}"><span>Acidarts ></span></a> About</h4>
            <h1>Sottile Jean.Baptiste</h1>
            <h2>as ACIDARTS</h2>
        </div>

        <!-- DESCRIPTION CONTENT -->
        <div class="container mt-2">
            <div class="row" id="description-content">
                <div class="col-md-7">
                    <div class="identification-about">

                        <p class="description-title">INTRODUCTION</p>

                        <p class="description-p"><i>FR</i> - Mon nom est Sottile Jean.Baptiste et je suis un artiste 3D basé à Nice, en France.</p>
                        <p class="description-p">Je me spécialise dans la <b>visualisation d’architecture</b>, plus particulièrement dans l’intéraction en <b>temps-réel</b> de ce domaine, ainsi que dans la production d’<b>images/vidéos</b> en <b>rendu CG</b> (4 ans d'expérience).</p>
                        <p class="description-p">J’ai suivi des études de conception 3D VFX à l’école <a href="http://www.ecolearies.fr/"><b>ARIES</b></a> sur Aix-En-Provence (France).
                            J’ai pu y étudier les multiples aspects de la 3D, me permettant aujourd’hui de m’intéresser à tout type de projet.
                            Dans mon parcours, j’ai eu l’occasion de travailler en <b>3D</b> dans différents domaines (<b>médical, industriel, architecture, temps-réel, jeux-vidéos</b>), mais aussi dans le domaine de la <b>2D</b>.
                        <p class="description-p"><b>Détermination, Précision, Collaboration,</b> sont pour moi les maîtres-mots dans le métier que j’exerce, afin de toujours m’assurer du bon fonctionnement d’un projet.

                        <p class="description-p"><i>EN</i> - My name is Sottile Jean.Baptiste and I am a 3D artist based in Nice, France.
                        <p class="description-p">I’m specialized in <b>architecture visualisation</b>, mainly in the <b>real-time</b> interaction of this domain, and also in production of still <b>images/videos renders</b> (4 years experience).</p>
                        <p class="description-p">I studied 3D VFX conception in <a href="http://www.ecolearies.fr/"><b>ARIES School</b></a> located in Aix-En-Provence (France).
                            I learnt multiples aspects of 3D, allowing me today to be interested in any project.
                            In my career, I had the opportunity to work in several <b>3D</b> domains (<b>medical, industrial, architecture, real-time, video-games</b>) and even in the <b>2D</b> domain.
                        <p class="description-p"><b>Hardwork, Precision, Teamwork,</b> are for me the main keywords in my job to make sure that the project runs properly.

                        <p class="description-title"><a href="{{ asset('documents/CV.pdf') }}" target="_blank">TELECHARGEZ MON CV/DOWNLOAD MY RESUME.</a></p>

                    </div>
                </div>
                <div class="col-md-5">
                    <div class="img-about">
                        <img src="{{ asset('images/logos/about.jpg') }}" id="about" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="library">
        <div class="container">
            <p class="description-title">SKILLS</p>

            <div class="skills">
                <div class="skill">
                    <img src="{{ asset('images/work/01.jpg') }}" alt="">
                </div>
                <div class="skill">
                    <img src="{{ asset('images/work/02.jpg') }}" alt="">
                </div>
                <div class="skill">
                    <img src="{{ asset('images/work/03.jpg') }}" alt="">
                </div>
                <div class="skill">
                    <img src="{{ asset('images/work/04.jpg') }}" alt="">
                </div>
                <div class="skill">
                    <img src="{{ asset('images/work/05.jpg') }}" alt="">
                </div>
                <div class="skill">
                    <img src="{{ asset('images/work/06.jpg') }}" alt="">
                </div>
                <div class="skill">
                    <img src="{{ asset('images/work/07.jpg') }}" alt="">
                </div>
                <div class="skill">
                    <img src="{{ asset('images/work/09.jpg') }}" alt="">
                </div>
                <div class="skill">
                    <img src="{{ asset('images/work/10.jpg') }}" alt="">
                </div>
                <div class="skill">
                    <img src="{{ asset('images/work/11.jpg') }}" alt="">
                </div>
                <div class="skill">
                    <img src="{{ asset('images/work/12.jpg') }}" alt="">
                </div>
                <div class="skill">
                    <img src="{{ asset('images/work/13.jpg') }}" alt="">
                </div>
                <div class="skill">
                    <img src="{{ asset('images/work/14.jpg') }}" alt="">
                </div>
                <div class="skill">
                    <img src="{{ asset('images/work/15.jpg') }}" alt="">
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <p class="description-title">EVENTS</p>

            <p class="description-events">
                - <a href="https://vimeo.com/129578777" target="_blank"><b>Short Film «The Mogz»</b></a> at Aries School, Aix-En-Provence (2014-2015)</p>
            <p class="description-events">
                - <a href="https://globalgamejam.org/2015/games/east-german-space-prison-break" target="_blank"><b>Global Game Jam</b></a> at Aix-En-Provence (2015)</p>
            <p class="description-events">
                - <a href="http://www.pavillon-arsenal.com/fr/visites-activites/10825-haussmann-20.html" target="_blank"><b>Hackathon «Haussman 2.0»</b></a> at Paris (2017)</p>
        </div>
    </section>

    <section class="library">
        <div class="container">
            <p class="description-title">CAN WORK WITH</p>

            <div class="skills">
                <div class="work">
                    <img src="{{ asset('images/work/00.png') }}" alt="">
                </div>
                <div class="work">
                    <img src="{{ asset('images/work/01.png') }}" alt="">
                </div>
                <div class="work">
                    <img src="{{ asset('images/work/02.png') }}" alt="">
                </div>
                <div class="work">
                    <img src="{{ asset('images/work/03.png') }}" alt="">
                </div>
            </div>
        </div>
    </section>

{% endblock %}
