{% block javascripts %}
  <script src="https://cdn.tiny.cloud/1/bwlkqrjifdgixstrk3xum78xl9lswdvg80o9rng64dekye6i/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
  <script>
    tinymce.init({
      selector: '#project_description',
      plugins: [
          'link',
          'textcolor',
          'lists',
          'powerpaste',
          'autolink',
          'tinymcespellchecker',
          'anchor',
          'lineheight'
      ],
      toolbar: [
          'undo redo | bold italic underline | fontsizeselect lineheight lineheightselect'
      ],
      fontsize_formats: '8pt 9pt 10pt 11pt 12pt 14pt 16pt 18pt 20pt 22pt 24pt 26pt 36pt 48pt',
      lineheight_formats: "8pt 9pt 10pt 11pt 12pt 14pt 16pt 18pt 20pt 22pt 24pt 26pt 36pt",
    });
  </script>
{% endblock javascripts %}

{% if project.filename %}
  <div class="flex-container-element">
    <div class="flex-item flex-form">
      <div class="project-form">
        <h3>Thumbnail of the project</h3>
        <div class="container">
          <div>
            <img src="{{ vich_uploader_asset(project, 'thumbFile') }}" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}

<div class="flex-container-element">
  <div class="flex-item flex-form">
    <div class="project-form">
      {{ form_start(form) }}
      {{ form_row(form.title) }}
      {{ form_row(form.type) }}
      {{ form_row(form.description) }}
      {{ form_row(form.thumbVideo) }}
      {{ form_row(form.thumbVideoTitle) }}
      {{ form_row(form.thumbFile) }}
      {{ form_row(form.imageFiles) }}

      <button id="button">{{ button|default('Save') }}</button>
      <button id="button-cancel">
        <a href="{{ path('admin_project_index') }}">Cancel</a>
      </button>

      {{ form_end(form) }}
    </div>
  </div>
</div>

{% if project.pictures is defined and project.pictures is not empty %}
  <section class="library">
    <div class="container">
      <div class="flex-container">
        <div id="links">
        {% for picture in project.pictures %}
          <a href="{{ vich_uploader_asset(picture, 'imageFile') }}">
          <img
            src="{{ vich_uploader_asset(picture, 'imageFile') }}"
            alt="{{ project.filename }}"
            class="img-project-library"
          />
          </a>
{#          <form#}
{#            method="post"#}
{#            action="{{ path('admin_picture_delete', {id: picture.id}) }}"#}
{#            onsubmit="return confirm('Are you sure ?')"#}
{#            class="delete-image"#}
{#          >#}
{#            <input type="hidden" name="_method" value="DELETE">#}
{#            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ picture.id) }}">#}
{#            <button type="submit">Delete</button>#}
{#          </form>#}
        {% endfor %}
        </div>

        <div id="blueimp-gallery" class="blueimp-gallery">
          <div class="slides"></div>
          <h3 class="title"></h3>
          <a class="prev">‹</a>
          <a class="next">›</a>
          <a class="close">×</a>
          <a class="play-pause"></a>
          <ol class="indicator"></ol>
        </div>

      </div>
    </div>
  </section>
{% endif %}
