{% block javascripts %}

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
        $('#project-videos').click(function () {

            const index = $('#widgets-countersVideos').val();
            const tmpl = $('#project_videos').data('prototype').replace(/_name_/g, index)
            $('#project_videos').append(tmpl)
            $('#widgets-countersVideos').val(parseInt(index) + 1)
            handleDeleteButtons();
            updateVideos();

        })
        function handleDeleteButtons() {
            $('button[data-action="deleteVideos"]').click(function () {
                const target = this.dataset.target;
                $(target).remove();
                updateVideos()
            })

        }
        function updateVideos()
        {
            const count = $('.countVideos').length;
            $('#widgets-countersVideos).val(parseInt(count));
        }
    </script>

    <script src='https://cloud.tinymce.com/5/tinymce.min.js?apiKey=your_API_key'></script>
    <script>
        tinymce.init({
            selector: '#project_description',
            //à cet endroit qu'on ajoute les options de la toolbar
            plugins: [
                'link',
                'textcolor',
                'lists',
                'powerpaste',
                'autolink',
                'tinymcespellchecker',
                'anchor',
            ],
            toolbar: [
                'undo redo | bold italic underline | fontselect fontsizeselect',
                'forecolor backcolor | anchor link'
            ],
        });
    </script>
    <style type="text/css">
        .tox-notifications-container{
            display: none;
        }

    </style>

{% endblock %}

<div class="container mb-4">

    {{ form_start(form) }}
    {{ form_widget(form.videos) }}

    <button class="btn btn-primary">{{ button|default('Enregistrer') }}</button>
    <a href="{{ path('admin.project.index') }}" class="btn btn-warning">Annuler</a>

    {{ form_end(form) }}

    {% block _project_videos_widget %}
        <input type="hidden" id="widgets-counterVideos" value="0" class="mt-2">
        <div class="form-group AddVideos mb-3">
            <button type="button" id="project-videos" class="btn  btn-info mb-2">Ajouter une Vidéo </button>
        </div>
        {{ form_widget(form) }}
    {% endblock %}

    {% block _project_videos_entry_row %}
        {{ form_widget(form) }}
    {% endblock %}

    {% block _project_videos_entry_widget %}
        <div class="form-group text-center countVideos" id="block_{{ id }}">
            <div class="row">
                <div class="col-md-8 text-center">
                    {{ form_widget(form) }}
                </div>
                <div class="col-md-4 text-center mt-4">
                    <button type="button" data-action="deleteFile" data-target="#block_{{ id }}" class="btn btn-danger">X</button>
                </div>
            </div>
        </div>
    {% endblock %}

</div>

{% if project.filename %}

    <h3>La miniature du bien</h3>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-4 mb-4">
                    <img src="{{ vich_uploader_asset(project, 'thumbFile') }}" alt="" class="card-img-top" style="width: 100%; height: auto;">

            </div>
        </div>
    </div>

{% endif %}

{% for picture in project.pictures %}
    <div class="mt-4 mb-4">
        <img src="{{ vich_uploader_asset(picture, 'imageFile') }}" width="250" alt="">
        <form method="post" action="{{ path('admin.picture.delete', {id: picture.id}) }}" style="display: inline-block" onsubmit="return confirm('Êtes vous vraiment sûr ?')">
            <input type="hidden" name="_method" value="DELETE">
            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ picture.id) }}">
            <button class="btn btn-danger">Supprimer</button>
        </form>
    </div>
{% endfor %}