<div class="container">

	{{ form_start(form) }}

	{{ form_row(form.title) }}
	{{ form_row(form.description) }}
	{{ form_row(form.thumbFile) }}
	{{ form_row(form.imageFiles) }}

	<button>{{ button|default('Save') }}</button>
	<a href="{{ path('admin_project_index') }}">Cancel</a>

	{{ form_end(form) }}

</div>

{# {% if project.filename %}
	<h3>Thumbnail of the project</h3>
	<div class="container">
		<div>
			<div>
				<img src="{{ vich_uploader_asset(project, 'thumbFile') }}" alt="">
			</div>
		</div>
	</div>
{% endif %} #}

{% if project.pictures is defined and project.pictures is not empty %}
	<section class="library">
		<div class="container">
			<div class="flex-container">
				{% for picture in project.pictures %}
					<div class="flex-item">
						<div class="flex-image">
							<img
							src="{{ vich_uploader_asset(picture, 'imageFile') }}" alt="{{ project.filename }}" class="img-project-library">
						{# <form method="post" action="{{ path('admin_picture_delete', {id: picture.id}) }}" onsubmit="return confirm('Are you sure ?')" class="delete-image">
				<input type="hidden" name="_method" value="DELETE">
				<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ picture.id) }}">
				<button type="submit">Detach</button>
				</form> #}
						</div>
					</div>
				{% endfor %}
			</div>
			{# <div id="file">
		{% for picture in project.pictures %}
			<img src="{{ vich_uploader_asset(picture, 'imageFile') }}" alt="{{ project.filename }}" class="img-project-library">
			<form method="post" action="{{ path('admin_picture_delete', {id: picture.id}) }}" onsubmit="return confirm('Are you sure ?')" class="delete-image">
			<input type="hidden" name="_method" value="DELETE">
			<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ picture.id) }}">
			<button type="submit">Detach</button>
			</form>
		{% endfor %}
		</div> #}
		</div>
	</section>
{% endif %}
