{% block javascripts %}

    <script src='https://cloud.tinymce.com/5/tinymce.min.js?apiKey=your_API_key'></script>
    <script>
        tinymce.init({
            selector: '#project_description',
            //à cet endroit qu'on ajoute les options de la toolbar
            plugins: [
                'link',
                'textcolor',
                'lists',
                'powerpaste',
                'autolink',
                'tinymcespellchecker',
                'anchor',
            ],
            toolbar: [
                'undo redo | bold italic underline | fontselect fontsizeselect',
                'forecolor backcolor | anchor link'
            ],
        });
    </script>
    <style type="text/css">
        .tox-notifications-container{
            display: none;
        }

    </style>

{% endblock %}

<div class="container mb-4">

    {{ form_start(form) }}
    {{ form_widget(form) }}

    <button class="btn btn-primary">{{ button|default('Enregistrer') }}</button>
    <a href="{{ path('admin.project.index') }}" class="btn btn-warning">Annuler</a>

    {{ form_end(form) }}
</div>

<h3>La miniature du bien</h3>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-4 mb-4">
            {% if project.filename %}
                <img src="{{ vich_uploader_asset(project, 'thumbFile') }}" alt="" class="card-img-top" style="width: 100%; height: auto;">
            {% else %}
                <img src="{{ '../images/empty.jpg' }}" alt="" class="card-img-top" style="width: 100%; height: auto;">
            {% endif %}
        </div>
    </div>
</div>