{% if project.filename %}
  <div class="flex-container-element">
    <div class="flex-item flex-form">
      <div class="project-form">
        <h3>Thumbnail of the project</h3>
        <div class="container">
          <div>
            <img src="{{ vich_uploader_asset(project, 'thumbFile') }}" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}

<div class="flex-container-element">
  <div class="flex-item flex-form">
    <div class="project-form">
      {{ form_start(form) }}
      {{ form_row(form.title) }}
      {{ form_row(form.type) }}
      {{ form_row(form.description) }}
      {{ form_row(form.thumbFile) }}
      {{ form_row(form.imageFiles) }}

      <button type="button" class="btn btn-primary btn-new video-button" data-collection="#videos">New Video</button>
      <div
          id="videos"
          class="row"
          data-prototype="{{ include("admin/project/_video.html.twig", {form: form.videos.vars.prototype})|e("html_attr") }}"
          data-index="{{ form.videos|length > 0 ? form.videos|last.vars.name + 1 : 0 }}">
        {% for video in form.videos %}
          <div class="col-4">
            {{ include("admin/project/_video.html.twig", {form: video}) }}
          </div>
        {% endfor %}
      </div>

      <button id="button">{{ button|default('Save') }}</button>
      <button id="button-cancel">
        <a href="{{ path('admin_project_index') }}">Cancel</a>
      </button>

      {{ form_end(form) }}
    </div>
  </div>
</div>

{% if project.pictures is defined and project.pictures is not empty %}
  <section class="library">
    <div class="container">
      <div class="flex-container">
        <div id="links">
        {% for picture in project.pictures %}
          <a href="{{ vich_uploader_asset(picture, 'imageFile') }}">
          <img
            src="{{ vich_uploader_asset(picture, 'imageFile') }}"
            alt="{{ project.filename }}"
            class="img-project-library"
          />
          </a>
{#          <form#}
{#            method="post"#}
{#            action="{{ path('admin_picture_delete', {id: picture.id}) }}"#}
{#            onsubmit="return confirm('Are you sure ?')"#}
{#            class="delete-image"#}
{#          >#}
{#            <input type="hidden" name="_method" value="DELETE">#}
{#            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ picture.id) }}">#}
{#            <button type="submit">Delete</button>#}
{#          </form>#}
        {% endfor %}
        </div>

        <div id="blueimp-gallery" class="blueimp-gallery">
          <div class="slides"></div>
          <h3 class="title"></h3>
          <a class="prev">‹</a>
          <a class="next">›</a>
          <a class="close">×</a>
          <a class="play-pause"></a>
          <ol class="indicator"></ol>
        </div>

      </div>
    </div>
  </section>
{% endif %}
