{{ form_start(form) }}
            {{ form_widget(form) }}
<button class="btn btn-primary">{{ button|default('Enregistrer') }}</button>
<a href="{{ path('admin.project.index') }}" class="btn btn-warning">Annuler</a>
{{ form_end(form) }}