{% extends 'base.html.twig' %}

{% block title 'Gérer les projets' %}

{% block body %}
    <div class="container mt-4">
        <h1>Gérer les projets</h1>

        {% for message in app.flashes('success') %}

            <div class="alert alert-success">
                {{ message }}
            </div>

        {% endfor %}

        <table class="table table-striped" id="mytable">
            <thead>
            <tr>
                <th>Titre</th>
                <th>Id</th>
                <th>Position</th>
                <th>Move Positions</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for project in projects %}
            <tr>
                <td>{{ project.title }}</td>
                <td>{{ project.id }}</td>
                <td>{{ project.position }}</td>
                <td>
                    <a href="#" onclick="up({{project.id}});" class="move up">UP</a><br>
                    <a href="#" onclick="down({{project.id}});" class="move down">DOWN</a>
                </td>
                <td>
                    <a href="{{ path('admin.project.edit', {id: project.id}) }}" class="btn btn-secondary">Editer</a>
                    <form method="post" action="{{ path('admin.project.delete', {id: project.id}) }}" style="display: inline-block" onsubmit="return confirm('Êtes vous vraiment sûr ?')">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ project.id) }}">
                        <button class="btn btn-danger">Supprimer</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="text-right">
            <a href="{{ path('admin.project.new') }}" class="btn btn-primary">Créer un nouveau projet</a>
        </div>

    </div>
{% endblock %}

{% block javascripts %}
    <script>

        $('#mytable a.move').click(function() {
            let row = $(this).closest('tr');
            if ($(this).hasClass('up'))
                row.prev().before(row);
            else
                row.next().after(row);
        });
        function up(element){
            postAjax(element,"UP");
        }
        function down(element){
            postAjax(element,"DOWN");
        }

        function postAjax(id,direction){
            if(direction === "UP" || direction === "DOWN"){
                let contentSend;
                contentSend = 'id=' + id + '&direction=' + direction;
                $.ajax({
                    url: '/admin/movePosition',
                    type: 'POST',
                    data: contentSend,
                    success: function (html) {
                        console.log(html);

                    }
                });
            }
        }
    </script>
{% endblock %}