{% extends 'base.html.twig' %}

{% block javascripts %}

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript">
        var $collectionHolder;
        // setup an "add a tag" link
        var $addTagButton = $('<a href="#" class="btn btn-primary">Ajouter</a>');
        var $newLinkLi = $('<li></li>').append($addTagButton);

        jQuery(document).ready(function() {
            // Get the ul that holds the collection of tags
            $collectionHolder = $('ul.videos');
            // add the "add a tag" anchor and li to the tags ul
            $collectionHolder.append($newLinkLi);
            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find(':input').length);
            $addTagButton.on('click', function(e) {
                // add a new tag form (see next code block)
                addTagForm($collectionHolder, $newLinkLi);
            });
            $collectionHolder.find('li fieldset fieldset').each(function() {
                addTagFormDeleteLink($(this));
            });
        });

        function addTagForm($collectionHolder, $newLinkLi) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');
            // get the new index
            var index = $collectionHolder.data('index');
            var newForm = prototype;
            // You need this only if you didn't set 'label' => false in your tags field in TaskType
            // Replace '__name__label__' in the prototype's HTML to
            // instead be a number based on how many items we have
            // newForm = newForm.replace(/__name__label__/g, index);
            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            newForm = newForm.replace(/__name__/g, index);
            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);
            // Display the form in the page in an li, before the "Add a tag" link li
            var $newFormLi = $('<li></li>').append(newForm);
            $newLinkLi.before($newFormLi);
            // add a delete link to the new form
            addTagFormDeleteLink($newFormLi);
        }

        function addTagFormDeleteLink($tagFormLi) {
            var $removeFormButton = $('<a href="#" class="btn btn-danger">Supprimer</a>');
            $tagFormLi.append($removeFormButton);
            $removeFormButton.on('click', function(e) {
                // remove the li for the tag form
                $tagFormLi.remove();
            });
        }
    </script>

    <script src='https://cloud.tinymce.com/5/tinymce.min.js?apiKey=your_API_key'></script>
    <script>
        tinymce.init({
            selector: '#project_description',
            //à cet endroit qu'on ajoute les options de la toolbar
            plugins: [
                'link',
                'textcolor',
                'lists',
                'powerpaste',
                'autolink',
                'tinymcespellchecker',
                'anchor',
                'lineheight'
            ],
            toolbar: [
                'undo redo | bold italic underline | fontselect fontsizeselect',
                'forecolor backcolor | anchor link | lineheightselect'
            ],
            forced_root_block: 'p',
            lineheight_formats: "8pt 9pt 10pt 11pt 12pt 14pt 16pt 18pt 20pt 22pt 24pt 26pt 36pt",
        });
    </script>
    <style type="text/css">
        .tox-notifications-container{
            display: none;
        }

    </style>

{% endblock %}

{% block body %}

    <section>
        <div class="container mt-2">
            <h4><a href="{{ path('home') }}"><span>Acidarts ></span></a> <a href="{{ path('admin.project.index') }}">Administration</a></h4>
            <h1>New project</h1>
        </div>

        <!-- PROJECT EDITING -->
        <div class="container mt-2">

            {% form_theme form _self %}
            {{ form_start(form) }}

            {{ form_row(form.title) }}
            {{ form_row(form.type) }}
            {{ form_row(form.description) }}
            {{ form_row(form.thumbFile) }}
            {{ form_row(form.link) }}
            {{ form_row(form.linktitle) }}
            {{ form_row(form.imageFiles) }}
            {{ form_label(form.videos) }}

            <ul class="videos" data-prototype="{{ form_widget(form.videos.vars.prototype)|e('html_attr') }}">
                {% for video in project.videos %}
                    <li>{{ form_row(form.videos) }}</li>
                {% endfor %}
            </ul>

            {% do form.videos.setRendered() %}

            <button class="btn btn-primary">{{ button|default('Enregistrer') }}</button>
            <a href="{{ path('admin.project.index') }}" class="btn btn-warning">Annuler</a>

            {{ form_end(form) }}

        </div>

        {% if project.filename %}

            <h3>La miniature du bien</h3>
            <div class="container mt-4">
                <div class="row">
                    <div class="col-md-4 mb-4">
                        <img src="{{ vich_uploader_asset(project, 'thumbFile') }}" alt="" class="card-img-top" style="width: 100%; height: auto;">

                    </div>
                </div>
            </div>

        {% endif %}

        {% for picture in project.pictures %}
            <div class="mt-4 mb-4">
                <img src="{{ vich_uploader_asset(picture, 'imageFile') }}" width="250" alt="">
                <form method="post" action="{{ path('admin.picture.delete', {id: picture.id}) }}" style="display: inline-block" onsubmit="return confirm('Êtes vous vraiment sûr ?')">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ picture.id) }}">
                    <button class="btn btn-danger">Supprimer</button>
                </form>
            </div>
        {% endfor %}
    </div>

{% endblock %}

