<!DOCTYPE html>
<html lang="fr">
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Acidarts - 3D Artist{% endblock %}</title>

  <!-- FAVICON -->
  <link rel="shortcut icon" type="image/png" href="{{ asset('images/logos/favicon.png') }}" />
  <link rel="icon" type="image/png" href="{{ asset('images/logos/favicon.png') }}" />

  <!-- CSS/JS -->
  <link href="{{ asset('css/lity.css') }}" rel="stylesheet">
  <link href="{{ asset('css/blueimp-gallery.min.css') }}" rel="stylesheet">
  <script src="{{ asset('js/jquery.js') }}"></script>

  {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
  {% endblock stylesheets %}

</head>
<body>

<!-- BACKGROUND TOP LEFT -->
<img src="{{ asset('images/logos/background.svg') }}" alt="background" class="background">

<div class="main">
  <!-- BLOCK HEADER -->
  <header>
    <div class="container">
      <nav>
        <a href="{{ path('project_index') }}"><img src="{{ asset('images/logos/logo.svg') }}" alt="logo" class="logo"></a>
        <label for="menu-mobile" class="menu-mobile">Afficher le menu</label>
        <input type="checkbox" id="menu-mobile" role="button">
        <ul>
          <li><a href="{{ path('project_index') }}">Projects</a></li>
          <li><a href="{{ path('about_index') }}">About</a></li>
          <li><a href="{{ path('contact_index') }}">Contact</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <!-- ENDBLOCK HEADER -->

  <!-- BLOCK CONTENT -->
  <div class="content">
    {% block body %}{% endblock body %}
  </div>
  <!-- ENDBLOCK CONTENT -->

  <!-- BLOCK FOOTER -->
  <footer>
    <div class="container">
      <div class="copyright">
        <p>Copyright © {{ "now"|date("Y")}} Jean-Baptiste Sottile | Conçu par <a href="https://www.dcorroyer.fr/" target="_blank">Dylan Corroyer</a></p>
      </div>
    </div>
  </footer>
  <!-- ENDBLOCK FOOTER -->
</div>

{% block javascripts %}
  {{ encore_entry_script_tags('app') }}
{% endblock javascripts %}

<!-- JS/JQUERY -->
<script src="{{ asset('js/lity.js') }}"></script>
<script src="{{ asset('js/blueimp-gallery.min.js') }}"></script>
<script src="{{ asset('js/popper.min.js') }}"></script>
<script src="{{ asset('js/font-awesome.min.js') }}"></script>

</body>
</html>
