<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Acidarts - 3D Artist{% endblock %}</title>
    <!-- IE -->
    <link rel="shortcut icon" type="image/png" href="{{ asset('images/favicon.png') }}" />
    <!-- other browsers -->
    <link rel="icon" type="image/png" href="{{ asset('images/favicon.png') }}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    {% endblock %}
</head>
<body>

<!-- image du coin haut-gauche placée en fond d'écran de la page -->
<img src="{{ asset('images/background.svg') }}" alt="background" class="background">

<div class="main">
    <header>

        <nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
            <div class="container">
                <a href="{{ path('home') }}"><img src="{{ asset('images/logo.svg') }}" alt="logo" class="logo"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li><a href="{{ path('home') }}">Projects</a></li>
                        <li><a href="{{ path('description.index') }}">About</a></li>
                        <li><a href="{{ path('contact.index') }}">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="content">

{% block body %}{% endblock %}

    </div>

    <!-- Pieds de page -->
    <footer>
        <div class="container">
            <div class="copyright">
                <p>Copyright © 2019 Jean-Baptiste Sottile | Conçu par <a href="https://www.dcorroyer.fr/" target="_blank">Dylan Corroyer</a></p>
            </div>
        </div>
    </footer>

</div>

{% block javascripts %}{% endblock %}
<script src="{{ asset('js/script.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
