<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Acidarts - 3D Artist{% endblock %}</title>

    <!-- FAVICON -->
    <link rel="shortcut icon" type="image/png" href="{{ asset('images/logos/favicon.png') }}" />
    <link rel="icon" type="image/png" href="{{ asset('images/logos/favicon.png') }}" />

    <!-- CSS/JS -->
    <link href="{{ asset('css/bootstrapp.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/lity.css') }}" rel="stylesheet">
    <link href="{{ asset('css/blueimp-gallery.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/style.css') }}" rel="stylesheet">
    <script src="{{ asset('js/jquery.js') }}"></script>
    {% block stylesheets %}{% endblock %}

</head>
<body>

<!-- BACKGROUND TOP LEFT -->
<img src="{{ asset('images/logos/background.svg') }}" alt="background" class="background">

<div class="main">
    <!-- BLOCK HEADER -->
    <header>
        <div class="wrapper">
            <nav>
                <a href="{{ path('home') }}"><img src="{{ asset('images/logos/logo.svg') }}" alt="logo" class="logo"></a>
                <label for="menu-mobile" class="menu-mobile">Afficher le menu</label>
                <input type="checkbox" id="menu-mobile" role="button">
                <ul>
                    <li><a href="{{ path('home') }}">Projects</a></li>
                    <li><a href="{{ path('description.index') }}">About</a></li>
                    <li><a href="{{ path('contact.index') }}">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <!-- ENDBLOCK HEADER -->

    <!-- BLOCK CONTENT -->
    <div class="content">
        {% block body %}{% endblock %}
    </div>
    <!-- ENDBLOCK CONTENT -->

    <!-- BLOCK FOOTER -->
    <footer>
        <div class="wrapper">
            <div class="copyright">
                <p>Copyright © {{ "now"|date("Y")}} Jean-Baptiste Sottile | Conçu par <a href="https://www.dcorroyer.fr/" target="_blank">Dylan Corroyer</a></p>
            </div>
        </div>
    </footer>
    <!-- ENDBLOCK FOOTER -->
</div>

{% block javascripts %}{% endblock %}

<!-- JS/JQUERY -->
<script src="{{ asset('js/script.js') }}"></script>
<script src="{{ asset('js/lity.js') }}"></script>
<script src="{{ asset('js/blueimp-gallery.min.js') }}"></script>
<script src="{{ asset('js/popper.min.js') }}"></script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
<script src="{{ asset('js/font-awesome.min.js') }}"></script>

</body>
</html>
