<div class="project">
    <div class="card-body">
        <div class="project-identification">
            <p class="project-title">
                <a href="{{ path('project.show', {slug: project.slug, id: project.id}) }}">{{ project.title }}</a>
            </p>
            <p class="project-type">{{ project.type }}</p>
        </div>
        <div class="project-img">
            <figure class="snip1573">
                {% if project.filename %}
                    <img src="{{ vich_uploader_asset(project, 'thumbFile') }}" alt="">
                {% else %}
                    <img src="{{ 'images/empty.jpg' }}" alt="">
                {% endif %}
                <figcaption>
                    <h3>+</h3>
                </figcaption>
                <a href="{{ path('project.show', {slug: project.slug, id: project.id}) }}"></a>
            </figure>
        </div>
    </div>
</div>