{% extends 'base.html.twig' %}

{% block title project.title %}

{% block body %}

    <section>
        <div class="container mt-2">
            <h4><a href="{{ path('home') }}"><span>Acidarts </span>
                <span> > </span><span>Projects</span></a><span> > </span>{{ project.title }}</h4>
            <h1>{{ project.title }}</h1>
        </div>
        <div class="container" id="project_content">
            <div class="row">
                <div class="col-md-7 text-center">
                    {% if project.filename and not project.link %}
                        <img src="{{ vich_uploader_asset(project, 'thumbFile') }}" alt="" class="card-img-top" style="width: 100%; height: auto;">
                    {% elseif project.link and project.filename %}
                        <div class="video">
                            <a href="{{ project.link }}" data-lity><img src="{{ asset('images/videothumb/index.jpeg') }}" alt=""></a>
                            <p>{{ project.linktitle }}</p>
                        </div>
                    {% elseif project.link and not project.filename %}
                        <div class="video">
                            <a href="{{ project.link }}" data-lity><img src="{{ asset('images/videothumb/index.jpeg') }}" alt=""></a>
                            <p>{{ project.linktitle }}</p>
                        </div>
                    {% else %}
                        <img src="{{ '../images/empty.jpg' }}" alt="" class="card-img-top" style="width: 100%; height: auto;">
                    {% endif %}
                </div>
                <div class="col-md-4">
                    <p class="type-project">{{ project.type }}</p>
                    <p class="title-project">{{ project.title }}</p>
                    <p class="description-project"> {{ project.description | raw }}</p>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container" id="projects_bar">
            <div class="row">
                <div class="col-md-4">
                    <div class="links">
                        <a href="{{ asset('images/videothumb/index.jpeg') }}" title="Real Life INFERNO 05"><img src="{{ asset('images/videothumb/index.jpeg') }}" alt="Real Life INFERNO 05" class="img-project-library"></a>
                        <a href="{{ asset('images/videothumb/index.jpeg') }}" title="Real Life INFERNO 05"><img src="{{ asset('images/videothumb/index.jpeg') }}" alt="Real Life INFERNO 05" class="img-project-library"></a>
                        <a href="{{ asset('images/videothumb/index.jpeg') }}" title="Real Life INFERNO 05"><img src="{{ asset('images/videothumb/index.jpeg') }}" alt="Real Life INFERNO 05" class="img-project-library"></a>
                        <a href="{{ asset('images/videothumb/index.jpeg') }}" title="Real Life INFERNO 05"><img src="{{ asset('images/videothumb/index.jpeg') }}" alt="Real Life INFERNO 05" class="img-project-library"></a>
                        <a href="{{ asset('images/videothumb/index.jpeg') }}" title="Real Life INFERNO 05"><img src="{{ asset('images/videothumb/index.jpeg') }}" alt="Real Life INFERNO 05" class="img-project-library"></a>
                    </div>

                    <div id="blueimp-gallery" class="blueimp-gallery">
                        <div class="slides"></div>
                        <h3 class="title"></h3>
                        <a class="prev">‹</a>
                        <a class="next">›</a>
                        <a class="close">×</a>
                        <a class="play-pause"></a>
                        <ol class="indicator"></ol>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            {% for video in project.videos %}
                <iframe width="560" height="315" src="{{ video.videoname|replace({'watch?v=' : "embed/"}) }}" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            {% endfor %}
        </div>
    </section>

{% endblock %}