{% extends 'base.html.twig' %}

{% block title project.title %}

{% block body %}

    <section>
        <div class="container mt-2">
            <h4><a href="{{ path('home') }}"><span>Projects</span></a><span> > </span>{{ project.title }}</h4>
            <h1>{{ project.title }}</h1>
        </div>
        <div class="container" id="project_content">
            <div class="row">
                <div class="col-md-7 text-center">
                    {% if project.filename and not project.link %}
                        <img src="{{ vich_uploader_asset(project, 'thumbFile') }}" alt="" class="card-img-top" style="width: 100%; height: auto;">
                    {% elseif project.link and project.filename %}
                        <div class="project-video">
                            <iframe width="560" height="315" src="{{ project.link|replace({'watch?v=' : "embed/"}) }}" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            <p>{{ project.linktitle }}</p>
                        </div>
                    {% elseif project.link and not project.filename %}
                        <div class="project-video">
                            <iframe width="560" height="315" src="{{ project.link|replace({'watch?v=' : "embed/"}) }}" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            <p>{{ project.linktitle }}</p>
                        </div>
                    {% else %}
                        <img src="{{ '../images/empty.jpg' }}" alt="" class="card-img-top" style="width: 100%; height: auto;">
                    {% endif %}
                </div>
                <div class="col-md-5">
                    <div class="project-about">
                        <p class="project-type-show">{{ project.type }}</p>
                        <p class="project-title-show">{{ project.title }}</p>
                        <p class="project-description-show"> {{ project.description | raw }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="library">
        <div class="container" id="projects_bar">
            <div class="row">
                <div id="links">
                    {% for picture in project.pictures %}
                        <a href="{{ vich_uploader_asset(picture, 'imageFile') }}">
                            <img src="{{ vich_uploader_asset(picture, 'imageFile') }}" width="250" alt="" class="project-img-library">
                        </a>
                    {% endfor %}
                </div>

                <div id="blueimp-gallery" class="blueimp-gallery">
                    <div class="slides"></div>
                    <h3 class="title"></h3>
                    <a class="prev">‹</a>
                    <a class="next">›</a>
                    <a class="close">×</a>
                    <a class="play-pause"></a>
                    <ol class="indicator"></ol>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">

            {% for video in project.videos %}
                <div class="project-video text-center" id="projects_videos">
                    <iframe width="560" height="315" src="{{ video.videoname|replace({'watch?v=' : "embed/"}) }}" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            {% endfor %}

        </div>
    </section>

{% endblock body %}
